[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=
Name[ca]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[fi]=
Name[fr]=
Name[gl]=
Name[ja]=
Name[ko]=
Name[lt]=
Name[ms]=
Name[pt]=
Name[ru]=
Name[sr]=
Name[tr]=
Comment=
Comment[ca]=
Comment[de]=
Comment[eo]=
Comment[es]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[it]=
Comment[ko]=
Comment[ms]=
Comment[pt]=
Comment[sr]=
Comment[tr]=
Icon=icon.png
